<div class="d-flex flex-column flex-md-row p-0 subscription-plan">
    {{#if @member.paid}}
        <div class="d-flex align-items-center justify-content-center w-100">
            {{#foreach @member.subscriptions}}
                {{cancel_link
                        cancelLabel="Annuler l'inscription"
                        continueLabel="Continuer l'inscription"}}
            {{/foreach}}
        </div>
    {{else}}
        <a href="javascript:" data-members-plan="Monthly"
           class="d-flex flex-column flex-grow-1 align-items-center monthly-plan">
            <div class="mt-2 label text-uppercase">Par mois</div>
            <div class="price mt-4">
                {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
                    {{#foreach tiers}}
                        {{#if monthly_price}}
                            {{price currency=currency
                                    locale=@site.locale
                                    numberFormat="long"
                            }}
                        {{/if}}
                    {{/foreach}}
                {{/get}}
            </div>
            <p class="mt-2 mb-auto text-center">
                Accès total, en avance<br/>
                <strong>pendant 1 mois</strong>
            </p>
            <div role="button" class="w-100 text-center link">
                Choisir
            </div>
        </a>
        <a href="javascript:" data-members-plan="Yearly"
           class="d-flex flex-column flex-grow-1 align-items-center yearly-plan">
            <div class="mt-2 label text-uppercase">Par an</div>
            <div class="price mt-4">
                {{#get "tiers" include="monthly_price,yearly_price,benefits" limit="all" as |tiers|}}
                    {{#foreach tiers}}
                        {{#if yearly_price}}
                            {{price currency=currency
                                    locale=@site.locale
                                    numberFormat="long"
                            }}
                        {{/if}}

                    {{/foreach}}
                {{/get}}
            </div>
            <p class="mt-2 mb-auto text-center">
                Accès total, en avance<br/>
                <strong>pendant 1 an</strong>
            </p>
            <div role="button" class="w-100 text-center link">
                Choisir
            </div>
        </a>
    {{/if}}
</div>
