<script
        data-isso-avatar="true"
        data-isso-css="true"
        data-isso-css-url="{{asset "isso.css"}}"
        data-isso-lang="fr_FR"
        data-isso-default-lang="fr_FR"
        data-isso="//isso.deuxmax.fr/"
        src="//isso.deuxmax.fr/js/embed.min.js">
</script>

<section id="isso-thread">
    <noscript>Javascript needs to be activated to view comments.</noscript>
</section>