<div class="d-none flex-column cookie" id="cookie-consent">
    <div class="p-2 text-center title">
        Consentement des cookies
    </div>
    <div class="body py-3 px-2 cookies-list"></div>
    <div class="row mt-auto cta">
        <button class="btn btn-block mt-0 btn-cookie cta-accept col-4">Tout accepter</button>
        <button class="btn btn-block mt-0 btn-cookie cta-reject col-4">Tout rejeter</button>
        <button class="btn btn-block mt-0 btn-cookie cta-submit col-4">Valider</button>
    </div>
</div>
