<footer class="mt-5">
    <div class="container h-100 d-flex flex-column footer-container">
        <div class="d-flex flex-row pt-3 top">
            <div class="links">
                {{#get "pages" filter="slug:footer-links"}}
                    {{#pages}}
                        {{content}}
                    {{/pages}}
                {{/get}}
            </div>
            <div class="ml-auto footer-newsletter">
                <h4>Newsletter</h4>
                {{> subscribe-form}}
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-auto pt-3 bottom">
            <div class="social">
                {{> social-links}}
            </div>
            <div class="ml-auto copyright">
                Deux.Max &copy; 2019-<span id="copyright-year"></span>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    document.getElementById('copyright-year').innerHTML = (new Date()).getFullYear();
</script>
