<header class="container-fluid">
    <div class="menu h-100 py-2 row">
        <div class="order-1 col-12 col-sm-8 col-lg-4 col-xl-3">
            <div class="h-100 d-flex flex-row flex-wrap flex-lg-nowrap justify-content-between justify-content-sm-start align-items-center">
                <a class="flex-grow-1 flex-shrink-1 link-img" href="{{@site.url}}">
                    <img class="logo-img" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                </a>
                <div class="flex-lg-grow-1 d-flex flex-column ml-2">
                    <h4 class="m-0">{{@site.title}}</h4>
                    <h5 class="m-0">{{@site.description}}</h5>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-block order-sm-3 order-lg-2 col-sm-12 col-lg-6 col-xl-7 mt-2 mt-sm-0">
            {{ navigation }}
        </div>
        <div class="order-3 order-sm-2 order-lg-3 col-12 col-sm-4 col-lg-2 col-xl-2 mt-2 mt-sm-0">
            <div class="h-100 d-flex align-items-center justify-content-between justify-content-sm-end cta-member">
                <a href="#" class="d-block d-sm-none menu-hamburger cta-menu-mobile">
                    {{> 'icons/menu-hamburger'}}
                </a>
                {{#if @member}}
                    <a href="javascript:" class="btn btn-primary" data-members-signout>Déconnexion</a>
                {{else}}
                    <button class="btn btn-primary btn-cta-login">Connexion</button>
                {{/if}}
            </div>
        </div>
    </div>
</header>
<div class="menu-mobile">
    {{ navigation }}
</div>
