<div class="d-flex flex-column member-form off" id="member-connect-form">
    <div class="align-self-end p-3">
        <button class="btn btn-secondary btn-close cta-close">&times;</button>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <form data-members-form="signup" class="w-50">
            <div class="d-none msg-loading text-center fa-3x">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <div class="d-none msg-error text-center">
                <h5>Une erreur est survenue</h5>
                <p data-members-error class="font-italic"></p>
            </div>
            <div class="d-none msg-success text-center">
                <h5>Vous avez reçu un e-mail</h5>
                <button class="btn btn-primary cta-close">Fermer</button>
            </div>
            <div class="form w-100">
                <p data-members-error></p>
                <h3>Connexion</h3>
                <div class="form-group">
                    <label for="email-connect">Email :</label>
                    <input data-members-email required type="email" class="form-control" id="email-connect" aria-describedby="emailHelp" placeholder="exemple@exemple.com">
                    <small id="emailHelp" class="form-text text-muted">Aucune démarche commerciale</small>
                </div>

                <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
            <div class="small mt-2">
                Pas encore inscrit ? <a href="#" class="btn-cta-subscribe">Inscription</a>
            </div>
        </form>
    </div>
</div>
