<div class="d-flex flex-column member-form off" id="member-subscribe-form">
    <div class="align-self-end p-3">
        <button class="btn btn-secondary btn-close cta-close">&times;</button>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <form data-members-form="subscribe" class="w-50">
            <div class="d-none msg-loading text-center fa-3x">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <div class="d-none msg-error text-center">
                <h5>Une erreur est survenue</h5>
                <p data-members-error class="font-italic"></p>
            </div>
            <div class="d-none msg-success text-center">
                <h5>Vous avez reçu un e-mail</h5>
                <button class="btn btn-primary cta-close">Fermer</button>
            </div>
            <div class="form w-100">
                <p data-members-error></p>
                <h3>Inscription</h3>
                <div class="form-group">
                    <label for="name">Nom :</label>
                    <input data-members-name required type="text" class="form-control" id="name" placeholder="Nom, pseudo, ...">
                </div>
                <div class="form-group">
                    <label for="email-subscribe">Email :</label>
                    <input data-members-email required type="email" class="form-control" id="email-subscribe" aria-describedby="emailHelp" placeholder="exemple@exemple.com">
                    <small id="emailHelp" class="form-text text-muted">Aucune démarche commerciale</small>
                </div>

                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
            <div class="small mt-2">
                Déjà inscrit ? <a href="#" class="btn-cta-login">Connexion</a>
            </div>
        </form>
    </div>
</div>
