<nav class="d-flex flex-row justify-content-center align-items-center" role="navigation">
    <button class="btn btn-primary btn-block js-load-posts-button {{#unless next}}disabled{{/unless}}">Plus d'articles</button>
</nav>
