{{#get "pages" filter="slug:static-promotional"}}
    {{#pages}}
        <div class="py-3 py-md-5 promote">
            <div class="row px-2 px-md-0">
                <div class="col-12 col-md-6 px-5">
                    <div class="image" style="background-image: url('{{img_url feature_image}}')"></div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center mt-4 mt-md-0 text">
                    <div class="title">Bientôt sur tous vos écrans</div>
                    <div class="announce">{{title}}</div>
                    <p>{{content}}</p>
                    <div class="mt-5 mt-lg-auto d-flex flex-column">
                        <a href="/premium" class="btn btn-primary">Devenez premium</a>
                        <small class="mt-1">Et découvrez-le avant tout le monde !</small>
                    </div>
                </div>
            </div>
        </div>
    {{/pages}}
{{/get}}
