<div class="row row-sleeves mb-5 mt-5 js-load-posts">
    {{#foreach posts}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-4 js-load-post">
            <a
                    href="{{url}}"
                    class="d-flex flex-column sleeve {{post_class}}"
                    style="background: center / cover url('{{img_url feature_image size="m"}}') no-repeat"
            >
                <div class="d-flex flex-column justify-content-center align-items-center h-100 position-relative">
                    <h2 class="mt-auto">{{ title }}</h2>
                    <div class="mt-auto author">{{ primary_author.name }}</div>
                    <div class="date"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></div>
                </div>
            </a>
        </div>
    {{/foreach}}
</div>
