<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "style.css"}}" />

    <script type="text/javascript">
        var COOKIES = [];
    </script>
    <script type="text/javascript" src="{{asset "script.js"}}" defer></script>
    <script type="text/javascript">
        let pagination_next_page_number       = '{{ pagination.next }}',
            pagination_available_pages_number = '{{ pagination.pages }}',
            siteLang = '{{@site.locale}}';
        var WebFontConfig = {
            google: { families: [ 'Inter:wght@100;200;300;400;500;600;700;800;900&display=swap' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })(); </script>


    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    <!-- Google Tag Manager -->
    <script></script>
    <!-- End Google Tag Manager -->

    {{{block "custom_meta_data"}}}

</head>
<body class="{{body_class}}">
    {{> cookie}}
    {{> member-connect-form }}
    {{> member-subscribe-form }}

    {{{body}}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{> footer}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}
</body>
</html>
