{{!< error}}

{{#contentFor "custom"}}
    <div class="d-flex flex-row custom-404">
        <div class="icon">
            {{> 'icons/404'}}
            <div class="mt-2 credits">
                Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a>
            </div>
        </div>
        <div class="flex-grow-1 text">
            <h2>Tu es perdu ?</h2>
            <p>
                Retrouves ton chemin en retournant sur l'accueil<br />
                Ou laisse-toi tenter par les histoires ci-dessous.
            </p>
            <p class="text-right">
                <a href="/" class="btn btn-primary btn-arrow arrow-right">Accueil</a>
            </p>
        </div>
    </div>
{{/contentFor}}
