{{!< default}}

{{> header}}

{{#post}}
    <div class="container pt-3 pb-3">
        <h1>{{title}}</h1>
        {{content}}

        <div class="w-50 mx-auto">
            {{> become-premium}}
        </div>
    </div>
{{/post}}
