{{!< default}}

{{> header}}

{{#post}}
<div class="container background-black-light post-container {{post_class}}">
    <div class="row pt-5 pb-5 describe">
        <div class="order-1 order-lg-0 col-12 mt-4 mt-lg-0">
            <h1>{{title}}</h1>
        </div>
        <div class="order-2 order-lg-1 col-md-12 col-lg-6 d-flex flex-column">
            {{> primary-author class="mb-3"}}
            <div class="h-100 d-flex flex-column excerpt">
                <p>{{excerpt}}</p>
                {{#if access}}
                    <div class="mt-auto pb-4 pt-2 pb-md-1 text-center text-sm-right">
                        {{> reading-time}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="order-0 order-lg-2 col-md-12 col-lg-6" style="min-height:200px;">
            <div class="picture" style="background: right / contain no-repeat url('{{img_url feature_image size="m"}}')"></div>
        </div>
    </div>

    <div class="mt-5 mb-5">
        <div class="content">
            {{content}}
        </div>
        <div class="footer mt-5">
            {{> comment comment_id=comment_id}}
        </div>
    </div>

    {{> progress-bar }}
</div>
{{/post}}
