{{!< default}}

{{> header}}

<div class="container background-black-light container-tag">
    {{#tag}}
    <div class="row describe mt-2 mt-md-5">
        <div class="order-2 order-md-1 col-12 col-md-6 mt-4 mt-md-0">
            <h1>{{name}}</h1>
            <p>{{description}}</p>
        </div>
        <div class="order-1 order-md-2 col-12 col-md-6" style="min-height:200px">
            <div class="h-100 w-100 picture" style="background-image: url('{{img_url feature_image size="m"}}')"></div>
        </div>
    </div>
    {{/tag}}

    {{>sleeve}}
    {{pagination}}
</div>


