.cookie {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  background-color: $black;
  border: 1px solid $black;
  border-radius: $border-radius;
  width: 25vw;
  min-height: 100px;
  z-index: 999;
  overflow: hidden;

  .title {
    background-color: $black-light;
    font-size: 15px;
    color: $gray-500;
    font-weight: $fontWeightMedium;
  }

  .body {
    color: $gray-500;
    font-size: 12px;
  }

  .cta {
    .btn-cookie {
      background-color: $black-light;
      border-radius: 0;
      font-size: 12px;
      font-weight: $fontWeightLight;
      color:$white;
      border-right: 1px solid $black;

      &:last-child {
        border-right: 0;
      }

      &:hover {
        background-color: $primary;
        border: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    width: 90vw;
  }
}
