.container-home {
  .home-describe {
    min-height: 500px;

    h1 {
      margin:0;
    }

    p {
      font-weight: 200;
    }

    .picture {
      min-height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .divider {
    height: 1px;
    background-color: $gray-800;
  }

  .home-posts {

    @include media-breakpoint-up(sm) {

    }

    @include media-breakpoint-up(md) {

    }

    .home-post {
      border-bottom: 1px solid $gray-800;
      min-height: 400px;
      &:last-child {
        border: none;
      }

      .picture {
        min-height: 250px;
        max-height: 400px;
        box-shadow: 0 5px 10px $black;
      }

      h2 {
        color: $primary;
        font-size: 1.7em;
        font-weight: 700;
      }

      .author, .date {
        font-size: 0.8em;
        font-weight: 200;
      }

      p {
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.2em;
      }

      a.tag {
        font-weight: 400;

        &:before {
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($fa-var-tag);
          margin-right: 0.5em;
        }
      }

      .indicator {
        position: relative;
        min-height: 20px;
        height: 100%;
        max-height: 100%;

        .icon {
          position: absolute;
          z-index: 2;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $black-light;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;

          &:before {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            text-align: center;
            padding-top: 10px;
          }
        }

        .line {
          z-index: 1;
          width: 100%;
          height: 100%;
        }
      }
      &.tag-hash-article {
        .indicator {
          .line {@include label-articles();}
          .icon:before {
            @include label-articles();
            @include icon-articles();
          }
        }
      }
      &.tag-hash-short-story {
        .indicator {
          .line {@include label-shorts-story();}
          .icon:before {
            @include label-shorts-story();
            @include icon-shorts-story();
          }
        }
      }
      &.tag-hash-scenario {
        .indicator {
          .line {@include label-scenarios();}
          .icon:before {
            @include label-scenarios();
            @include icon-scenarios();
          }
        }
      }
      &.tag-hash-theater {
        .indicator {
          .line {@include label-theaters();}
          .icon:before {
            @include label-theaters();
            @include icon-theaters();
          }
        }
      }

      @include media-breakpoint-up(sm) {
        .picture {
          min-height: 300px;
        }
      }
      @include media-breakpoint-up(md) {
        .picture {
          min-height: 400px;
        }
      }

      @include media-breakpoint-up(lg) {
        .indicator {
          .line {
            width: 20px;
          }
        }
      }

      &.access-paid:not(.member-paid) {
        position: relative;
        min-height: 150px;
        background-color: $black-ultra-light;

        .picture {
          min-height: 150px;
        }

        .indicator {
          min-height: 100px;
        }

        p, .tags {
          display: none;
        }

        &:after {
          content: 'Premium';
          background-color: $primary;
          position: absolute;
          right: 1rem;
          top: 1rem;
          padding: 0.5rem 1rem;
          //border-radius: $border-radius;
          font-size: 0.8em;
          font-weight: 300;
        }
      }
    }
  }
}
