.member-form {
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  z-index: 9999;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: height 500ms;

  &.off {
    height: 0;
  }

  &.on {
    height: 100%;
  }


  form {

    &.loading, &.success {
      .form {
        display: none;
      }
    }

    &.loading {
      .msg-loading {
        display: block !important;
      }
    }

    &.error {
      .msg-error {
        display: block !important;
      }
    }

    &.success {
      .msg-success {
        display: block !important;
      }
    }
  }
}