.subscription-plan {
  border: 1px solid $gray-800;
  background-color: $black;
  color: $gray-400;
  border-radius: 5px;
  min-height: 250px;
  overflow: hidden;

  .monthly-plan {
    border-right: 1px solid $gray-600;
  }

  .monthly-plan, .yearly-plan {
    min-width: 10vw;
    color: $gray-500;

    &:hover, &.active {
      background-color: $gray-900;
      color: $white;
    }
  }

  .label {
    font-size: 0.8em;
    font-weight: 300;
  }

  .price {
    font-weight: 600;
    font-size: 2em;
  }

  p {
    font-size: 0.8em;
    font-weight: 300;
  }

  .link {
    background-color: $primary;
    padding: 0.5em;
    font-weight: 500;
    font-size: 1em;
    color: $white;

    &:hover {
      background-color: $secondary;
      color: $black;
    }
  }
}
