.row-sleeves {
  a.sleeve {
    min-height: 350px;
    height: 60vh;
    box-shadow: 0 5px 10px $black;
    @include opacity-image(0.7);

    h2 {
      color: $primary;
      font-size: 2em;
      font-weight: $fontWeightMedium;
      text-shadow: 1px 1px 1px $black-light;
      transition: font-size 100ms linear;
    }

    .author {
      color: $white;
      font-size: 0.8em;
      font-weight: $fontWeightRegular;
    }

    .date {
      color: $white;
      font-size: 0.7em;
      font-weight: $fontWeightExtraLight;
    }

    &:hover {
      color: inherit;
      box-shadow: none;

      h2 {
        font-size: 1.8em;
      }
    }
  }
}
