@import "variables";

#isso-thread {
  border-top: 1px solid $gray-light;
  padding: 20px;
  margin: 20px 0 0 0;

  h4 {
    color: $white;
    font-weight: bold;
    font-size: 22px;

    &:before, &:after {
      font-size: 22px;
      color: $primary;
    }

    &:before {
      content: "[";
      margin-right:3px;
    }

    &:after {
      content: "]";
      margin-left: 3px;
    }
  }

  .isso-postbox {
    .isso-textarea {
      min-height: 150px;
    }

    .isso-auth-section {
      .isso-input-wrapper {
        margin-right: 5px;
      }

      .isso-post-action > input[type="button"], input[type="submit"] {
        //padding:0 15px;
        border-radius: 5px;
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }

  .isso-comment {
    .isso-comment-header {
      .isso-author, .isso-permalink {
        color: $gray-light !important;
      }
    }

    .isso-text {
      min-height: 50px;
      background-color: $black-ultra-light;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}